<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add BRAND details here to add in Database</h1>
    <style>
        h3 {
            color: red;
            font-style: oblique;
        }
    </style>


    <h3></h3>


    <form action="add_brands" method="POST">
        <p>Brand name:</p>
        <input type="text" name="brand_name" placeholder="Brand name">
        <p>Available products:</p>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <input type="checkbox" id="product1" name="product1" value="Television">
        <label for="product1">Television</label>
        <p>mall website:</p>
        <p>mall facebook:</p>
        <p>mall another link:</p>
        <p>mall another link</p>
        <p>mall images1:</p>
        <p>mall images2:</p>
        <p>mall images3:</p>
        <p>mall images4:</p>
        <p>mall images5:</p>
        <p>mall description:</p>
        <p>mall facilities:</p>



        <input type="submit" />
    </form>
</body>

</html>